body {
    background-color: #f0f0f0;
}

.titlehero {
    text-align: center;
    font-family: fantasy;
    color: #6e0606;
}

.titlehero h1{
    font-weight: lighter;
    font-size: 45px;
}

.titlehero h3{
    font-weight: lighter;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-image: url("assets/background.jpg"); */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: fantasy;
    color: brown;
}

.zoom {
    padding: 50px;
    transition: transform .2s;
    /* Animation */
    width: 200px;
    height: 200px;
    margin: auto;
}

.zoom:hover {
    transform: scale(1.25);
}